<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Model</th>
      <th class="text-right">Purchase Price</th>
    </tr>
    <tr *ngFor="let model of models">
      <td>
        <!-- {{model.name}} -->
        <a [routerLink]="['/admin/view', model.id]">{{model.name}}</a>
      </td>
      <td>
        {{model.email}}
      </td>
      <td>
        {{model.model}}
      </td>
      <td class="text-right">
        {{model.purchase_price}}
      </td>
    </tr>
  </table>
</div>
